html, body, mapframe, map {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

mapframe {
	width:50% !important;
	float:right !important;
}
map {
    position: relative !important;
}