html, body, mapframe, map {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

mapframe {
	width:100% !important;
}
map {
    position: relative !important;
}

.row {
	width:100% !important;
	height:100% !important;
	display:flex;
}

.col-md-6 {
	width:50% !important;
	display:flex;
}


.list {
	order: 1;
	flex-grow: 1;
	background-color: #055;
}

li {
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #088;
}
