html, body, mapframe, map {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

mapframe {
	width:100% !important;
}
map {
    position: relative !important;
}

.row {
	width:100% !important;
	height:100% !important;
	display:flex;
}

.col-md-6 {
	width:50% !important;
	display:flex;
}

.list {
	background-color:cyan;
}

li {
	background-color:blue;
	border:solid black;
	height:10px;
	width:90%;
	margin-right:4px;
	margin-left:4px;
}